
/* Datatabls Css */
.html5buttons{
    float: right !important;
    margin-bottom: 10px !important;
}
.dataTables_length{
     width: 40%;
     float: left;
}
.dataTables_filter label{
    margin-right: 5px;
    margin-bottom: 0;
}

/*  Section Start */
.funkyradio-default {
    color: #ccc;
}

li.active > a > i.funkyradio-primary {
    color: #337ab7;
}

li.active > a > i.funkyradio-success {
    color: #5cb85c;
}

li.active > a > i.funkyradio-danger {
    color: #d9534f;
}

li.active > a > i.funkyradio-warning {
    color: #f0ad4e;
}

li.active > a > i.funkyradio-info {
    color: #5bc0de;
}

li.active > a > i.funkyradio-success_s {
    color: #00a65a;
}

.nav-stacked > li.active.funkyradio-primary > a, .nav-stacked > li.funkyradio-primary > a:hover {
    border-left-color: #337ab7;
}

.nav-stacked > li.active.funkyradio-success > a, .nav-stacked > li.funkyradio-success > a:hover {
    border-left-color: #5cb85c;
}

.nav-stacked > li.active.funkyradio-danger > a, .nav-stacked > li.funkyradio-danger > a:hover {
    border-left-color: #d9534f;
}

.nav-stacked > li.active.funkyradio-warning > a, .nav-stacked > li.funkyradio-warning > a:hover {
    border-left-color: #f0ad4e;
}

.nav-stacked > li.active.funkyradio-info > a, .nav-stacked > li.funkyradio-info > a:hover {
    border-left-color: #5bc0de;
}

.nav-stacked > li.active.funkyradio-success_s > a, .nav-stacked > li.funkyradio-success_s > a:hover {
    border-left-color: #00a65a;
}

.sidebar-menu > li.active.funkyradio-primary > a, .sidebar-menu > li.funkyradio-primary > a:hover {
    border-left-color: #337ab7;
}

.sidebar-menu > li.active.funkyradio-success > a, .sidebar-menu > li.funkyradio-success > a:hover {
    border-left-color: #5cb85c;
}

.sidebar-menu > li.active.funkyradio-danger > a, .sidebar-menu > li.funkyradio-danger > a:hover {
    border-left-color: #d9534f;
}

.sidebar-menu > li.active.funkyradio-warning > a, .sidebar-menu > li.funkyradio-warning > a:hover {
    border-left-color: #f0ad4e;
}

.sidebar-menu > li.active.funkyradio-info > a, .sidebar-menu > li.funkyradio-info > a:hover {
    border-left-color: #5bc0de;
}

.sidebar-menu > li.active.funkyradio-success_s > a, .sidebar-menu > li.funkyradio-success_s > a:hover {
    border-left-color: #00a65a;
}

/*  Section End */

.admin-login {
    width: 100%;
    height: 100%;
    background: url('../../front/img/images/admin2.png') top center no-repeat;
    background-size: cover;
    overflow: hidden;
}

/*
.admin-login:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #fff, #fff);
    opacity: .86;
}*/

.light-yellow
{
    /*#FFE4B0*/
    background-color: #FFE4B0;
}
.light-pink
{
    background-color: #FFFFCC;
}