// Placeholder text
@mixin material-placeholder() {
  &::-moz-placeholder {
    @content;
  }
  // Firefox
  &:-ms-input-placeholder {
    @content;
  }
  // Internet Explorer 10+
  &::-webkit-input-placeholder {
    @content;
  }
  // Safari and Chrome
}
