/*            Navigation menu                */
.nav-pills {
  background-color: rgba(200, 200, 200, 0.2);

  > li + li {
    margin-left: 0;
  }

  > li > a {
    border: 0 !important;
    border-radius: 0;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #555555 !important;
  }

  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus,
  > li > a:hover,
  > li > a:focus {
    background-color: inherit;
  }

  > li i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
  }
}
